# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Data (Raw PDFs and JSONs managed by DVC)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store