# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/
dist/
build/

# Data (Raw PDFs and JSONs managed by DVC)
data/raw/*
!data/raw/*.dvc
data/processed/*
!data/processed/*.dvc
!data/processed/corpus_raw.json
!data/processed/vector_store_e5/
!data/processed/vector_store_e5/*

# IDE & OS
.vscode/
.idea/
.DS_Store.env
.env
